/* ------ MAIN STYLING ------ */
:root {
    --dark-blue: #000b5e;
    --blue: #0119cb;

    --white: #fff;

    --light-gray: #ddd;

    --theme-emoji-bright: invert(13%) sepia(42%) saturate(3586%) hue-rotate(220deg) brightness(86%) contrast(127%);
    --theme-emoji-dark: invert(100%) sepia(5%) saturate(19%) hue-rotate(180deg) brightness(106%) contrast(105%);

    --x-small-padding: min(0.5em, calc(1.5625vw));
    --small-padding: min(1em, calc(1.5625vw));
    --medium-padding: calc(8px + 1.5625vw);

    --default-box-shadow: 0 8px 16px 0 black;
    --lighter-box-shadow: 0 2px 4px 0 black;

    --header-height: 80px;
}

@font-face {
    font-family: UbuntuRegular;
    src: url("../Ubuntu-Regular.ttf");
}

html, body {
    height: 100%;
    background-color: var(--white);
    font-family: UbuntuRegular;
    margin: 0;
}
/* ------ MAIN STYLING ------ */

/* ----- GENERAL STYLING ---- */
a {
    display: inline-block;
    color: var(--dark-blue);
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    text-align: center;
    font-size: x-large;
}
a:hover {
    color: var(--blue);
}
button {
    border: none;
    text-align: center;
    padding: var(--small-padding);
    text-decoration: none;
    display: inline-block;
    background-color: inherit;
    cursor: pointer;
    color: var(--dark-blue);
}
button:hover {
    filter: invert(50%);
}
.holder {
    display: flex;
    justify-content: center;
    align-content: center;
}
.flex-direction-row {
    flex-direction: row;
}
.justify-content-space-evenly {
    justify-content: space-evenly;
}
.small-padding-img {
    object-fit: cover;
    height: auto;
    padding: var(--x-small-padding);
}
/* ----- GENERAL STYLING ---- */

/* ----- HEADER STYLING ----- */
#header-replacer {
    width: 100%;
    height: var(--header-height);
    background-color: var(--white);
}
#header {
    position: fixed;
    width: 100%;
    top: 0;
    height: var(--header-height);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    box-shadow: var(--lighter-box-shadow);
}
.navbar {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    overflow: hidden;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.dropdown-content a {
    float: left;
    color: var(--white);
    text-align: center;
    padding: var(--small-padding);
}
.dropdown {
    overflow: hidden;
}
.dropdown .dropbtn {
    border: none;
    outline: none;
    color: var(--white);
    padding: var(--small-padding);
    background-color: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--dark-blue);
}
.dropdown:hover .dropbtn > a {
    color: var(--white);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: var(--default-box-shadow);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: var(--dark-blue);
    padding: var(--small-padding);
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: var(--light-gray);
}
.dropdown:hover .dropdown-content {
    display: block;
}
#register:hover, #register:hover > a {
    background-color: var(--dark-blue);
    color: var(--white);
}
#register {
    padding: var(--small-padding);
}
.theme-switcher {
    filter: var(--theme-emoji);
}
/* ----- HEADER STYLING ----- */

/* --- MAIN-BLOCK STYLING --- */
#main-block {
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}
#main-block h1 {
    padding: var(--medium-padding);
    color: var(--white);
    font-size: 1200%;
    font-weight: 900;
    text-align: left;
    margin: auto;
}
#main-block h2 {
    color: var(--white);
    font-size: 700%;
    text-align: center;
    margin: auto;
}
#main-block h3 {
    color: var(--white);
    font-size: 500%;
    text-align: center;
    margin: auto;
    padding: var(--medium-padding);
}
#three-words {
    padding: var(--medium-padding);
}
.be-pointed:hover {
    cursor: pointer;
}
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}
.floating {
    animation: float 2s ease-in-out infinite;
}
#scroller-1 {
    padding: var(--medium-padding);
}
/* --- MAIN-BLOCK STYLING --- */

/* ------ TEXT STYLING ------ */
#news {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}
.news {
    flex: 1;
    padding: var(--medium-padding);
    font-size: x-large;
    color: var(--dark-blue);
    line-height: 1.5em;
    letter-spacing: 1px;
    margin-top: auto;
    margin-bottom: auto;
}
.news a {
    color: var(--blue);
}
.news a:hover {
    color: var(--dark-blue);
}
h1, h2, h3 {
    text-align: center;
    color: var(--dark-blue);
}
.date {
    font-size: xx-large;
    color: var(--blue);
}
.show-more-button {
    font-size: x-large;
    width: 100%;
}
/* ------ TEXT STYLING ------ */

/* ----- FOOTER STYLING ----- */
#footer {
    padding: var(--medium-padding);
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
    align-content: center;
    background-color: var(--dark-blue);
    color: var(--white);
}
#footer a {
    font-size: large;
    color: var(--blue);
}
#footer a:hover {
    font-size: large;
    color: var(--white);
}
/* ----- FOOTER STYLING ----- */

@media screen and (min-width: 1200px){

}